__pycache__
.vscode
.cmake
CMakeFiles
cmake_install.cmake
CMakeCache
vHelix.exe.manifest
vHelix_autogen
.ninja_deps
.ninja_log
build.ninja
debug
root.cbp
rules.ninja
CMakeLists.txt.user
vHelix_autogen/*
vHelix/.vs
.cmake/*
*/CMakeFiles/
CMakeCache